.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}
.format{
	color : green;
}
.table, th, td{
border: 2px solid black;
}
.formatting{
	border: 2px solid black;
	height:50vh;
	width:50%;
}
